
body {
	font-family:		sans-serif;
	padding:			0;
	margin:				0;
}

#header {
	background-color:	black;
	color:				white;
}

#content {
	background-color:	lightgrey;
}
#content .content-block {
	background-color:	white;
	margin:				2% auto;
	padding:			2%;
	width:				75%;
}

#footer {
	font-size:			0.8em;
	background-color:	darkgrey;
	color:				white;
}
